<%= provide(:title, "Home") %>
<div class="jumbotron">
    <div class="container">
        <h1>Everyone's a Critic</h1>
        <p>Browse movies reviewed by fans like you and contribute to our collection of films</p>
        <p>Review movies like a professional critic and gain recognition from fellow movie fans</p>
        <%= link_to "Get Started", "#" %>
    </div>
</div>