html body {
    margin:0;
    padding:0;
}

/* header */
.header {
    font-family: 'Istok Web', sans-serif;
    .toph {
        width:full;
        background-color:#990000;
        height:70px;
        h1 {
            font-size:50px;
            text-align:center;
            margin:0;
        }
        a {
            color:white;
            text-decoration:none;
        }
    }
    .bottomh {
        ul {
            margin:0;
            text-align:center;
            background-color:#990000;
            height:50px;
        }
        li {
            display:inline;
        }
        a {
            color:white;
            font-size:30px;
            text-transform:uppercase;
            text-decoration:none;
            &:hover {
                color:#ffffcc;
                font-weight:bold;
            } 
        }
        #left {
            padding-right:100px;
        }
        #right {
            padding-left:100px;
        }
    }
    .lowerh {
        > ul {
            margin:0;
            text-align:center;
            background-color:#990000;
            height:50px; 
        }
        ul > li {
            display:inline;
            margin-left:20px;
            margin-right:20px;
            
            a {
            color:white;
            text-decoration:none;
            font-size:20px;
                &:hover {
                    color:#ffffcc;
                    font-weight:bold; 
                }
            }
            
        }
    }
}

/* jumbotron */
.jumbotron {
    font-family: 'Fugaz One', cursive;
    width:100%;
    height:700px;
    text-align:center;
    background-image:url("movietheater.jpg");
    background-repeat: no-repeat;
    .container {
        padding-top:30px;
        h1 {
            font-size:70px;
            color:white;
        }
        p {
            font-size:30px;
            color:white;
        }
        a {
            background-color:black;
            border-radius:10px;
            font-size:30px;
            text-decoration:none;
            color:white;
            padding:4px;
            &:hover {
                opacity:.4;
            }
        }
    }
}

/* sidebar currently not in use */
.sidebar {
    width:300px;
    height:600px;
    float:left;
    margin-left:10px;
    margin-top:10px;
    border: 1px solid black;
    background-color:#990000;
    font-family:'Istok Web', sans-serif;
    .add {
        background-color:#990000;
        &:hover {
            background-color: #666666;
        }
        height:40px;
        h1 {
            margin:0;
            text-align:center;
        }
        a {
            color:white;
            text-decoration:none;
            text-transform:uppercase;
        }
    }
    .categories {
        text-align:center;
        h1 {
            font-size:40px;
            margin-top:10px;
        }
        ul {
            padding:0;
        }
        li {
            list-style-type:none;
            &:hover {
                background-color:#666666;
            }
            margin-top:7px;
        }
        a {
            text-decoration:none;
            font-size:40px;
            color:white;
        }
    }
}

/* show movie */
.movieOne {
    font-family:'Istok Web', sans-serif;
    text-align:center;
    h1 {
        font-weight: bold;
        font-size: 60px;
    }
    h3 {
        font-size: 40px;
    }
    p {
        font-size: 30px;
        margin-left: 300px;
        margin-right: 300px;
    }
    .links li {
        display:inline;
        margin:20px;
    }
    .links a {
        text-decoration:none;
        color:black;
        font-size:20px;
        &:hover {
            font-weight:bold;
        }
    }
}

.moviesAll {
    .search {
        margin-bottom:30px;
    }
    font-family:'Istok Web', sans-serif;
    text-align:center;
    ul {
        width:700px;
        margin: 0 auto;
    }
    .movie {
        text-align:center;
        border:1px black solid;
        height:500px;
        width:700px;
    }
    h1 {
        font-size:80px;
        margin-top:10px;
        text-align:center;
    }
    ul li {
        list-style: none;
    }
    h3 {
        font-size: 40px;
        font-weight: bold;
    }
    a {
        text-decoration:none;
        color: black;
    }
}

/* form */
.form {
    font-family:'Istok Web', sans-serif;
    width:700px;
    margin:0 auto;
    p {
        margin-top:10px;
        text-align:center;
        font-size:30px;
    }
    h1 {
        margin-top:30px;
        font-size:80px;
        text-align:center;
        margin-bottom:0;
    }
    ul {
        list-style-type:none;
    }
    li {
        margin-top:20px;
    }
    .smaller {
        font-size:60px;
    }
}

.categoryHeader {
    margin:0;
    width:full;
    background-color:white;
    height:50px;
    font-family: 'Istok Web', sans-serif;
    h1 {
        font-size:50px;
        text-align:center;
        margin:0;
    }
    ul {
        margin:0;
        text-align:center;
    }
    ul li {
        display:inline;
        margin-left:20px;
        margin-right:20px;
    }
    a {
        color:#990000;
        text-decoration:none;
        font-size:40px;
        &:hover {
            font-weight:bold;
        
        }
    }
}
/* forms */
input[type=submit], #picture_label {
    background-color:#003366;
    height:35px;
    font-size:20px;
    color:white;
    border-radius:10px;
    border:1px white;
    outline:none;
    &:hover {
        font-weight:bold;
    }
}

input[type=file] {
    display: none;
}

input[type=text], input[type=password] {
    outline:none;
    border-radius:20px;
    border:2px black solid;
    font-size:30px;
}

textarea {
    border-radius:20px;
    border:2px black solid;
    outline:none;
    font-size:20px;
}

/* critics */
.critics {
    width:1000px;
    margin:0 auto;
    text-align:center;
    font-family: 'Istok Web', sans-serif;
    h1 {
        margin-top:20px;
        font-size:80px;
        margin-bottom:0;
    }
    .links li {
        display:inline;
        margin:40px;
    }
    .links a {
        text-decoration:none;
        color:black;
        font-size:20px;
        &:hover {
            font-weight:bold;
        }
    }
    .favorites {
        float:left;
    }
    .movie {
        list-style-type:none;
    }
    .reviews {
        float:right;
        width:400px;
        ul {
            list-style-type:none;
            padding:0;
        }
        li {
            width:400px;
        }
    }
}

.criticList {
    width:700px;
    margin:0 auto;
    text-align:center;
    font-family: 'Istok Web', sans-serif;
    a {
        text-decoration:none;
        color:black;
    }
    ul {
        list-style-type:none;
    }
    .criticOne {
        .links li {
            display:inline;
            margin-left:40px;
            margin-right:40px;
            font-size:20px;
            &:hover {
                font-weight:bold;
            }
        }    
    }
}

.reviews {
    list-style-type:none;
}

.review {
    background-color:#cccccc;
    width:700px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top:10px;
    p {
        width:700px;
        margin:0;
    }
    .deleteReview {
        float:right;
        margin-top:10px;
        margin-right:10px;
        a {    
            color:#003366;
            font-weight:bold;
            text-decoration:none;
        }

    }
}
.reviewHeader {
    margin-bottom:10px;
}
.hiddenField {
    display:none;
}
