<div class="header">
    <div class="toph">
        <h1><%= link_to "Everyone's A Critic", root_path %></h1>
    </div>
    <div class="bottomh">
        <ul>
            <li id="left"><%= link_to "Become A Critic", "#" %></li>
            <li id="right"><%= link_to "Critic Log In", "#" %></li>
        </ul>
    </div>
</div>